.datePanel {
  width: 100%;
  height: 10%;
  @include flex(space-between, center);

  .today {
    font-size: 26px;
    font-weight: bold;
    color: blue;

    input.dateInput {
      text-align: center;
    }
  }

  .prevDate,
  .nextDate {
    margin: 10px;
    width: 100px;
    @include flex;
  }
}
