$TextColor: #fafafa;

.dashboardPanel {
  padding: 1rem;
  background: #f5f5f5;

  div.divDisplay {
    @include wh;
    display: grid;
    grid-template-columns:
      [c1] 1fr [c2];
    grid-template-rows:
      [r1] 150px [r2] 1fr [r3] 85px
      [r4] 1fr [r5] 400px [r6];

    .userUpper {
      @include gridCR(1,2,1,2);
      display: grid;
      grid-template-columns:
        [c1] 150px [c2] 1fr [c3];
      grid-template-rows:
        [r1] 150px [r2];

      .userPic {
        @include wh('normal', 150px, 150px);
        @include gridCR(1,2,1,2);
        box-shadow: 2px 2px 10px #333;
      }

      .userInfo {
        @include gridCR(2,3,1,2);
        padding-left: 2rem;
        display: grid;
        grid-template-columns:
          [c1] 1fr [c2];
        grid-template-rows:
          [r1] 1fr [r2] 1fr [r3] 1fr [r4];

        .userName {
          @include gridItemPosition(left);
          font-size: 2rem;
        }

        .userId {
          @include gridItemPosition(left, top);
          font-size: 1.5rem;
        }

        .location {
          display: grid;
          grid-template-columns:
            [c1] 50px [c2] 1fr [c3];
          grid-template-rows:
            [r1] 1fr [r2];

          .locationIcon {
            @include gridCR(1,2,1,2);
            @include gridItemPosition;
            font-size: 1.5rem;
          }

          .userLocation {
            @include gridCR(2,3,1,2);
            @include gridItemPosition(left);
            font-size: 1.5rem;
          }
        }
      }

    }

    .githubInfo {
      @include gridCR(1,2,3,4);
      display: grid;
      grid-template-columns:
        [c1] 1fr [c2] 1fr [c3] 1fr [c4];
      grid-template-rows:
        [r1] 1fr [r2];

      .followers {
        @include gridCR(1,2,1,2);
        background: #FFB6B9;
      }

      .repos {
        @include gridCR(2,3,1,2);
        background: #ffa726;
      }

      .gists {
        @include gridCR(3,4,1,2);
        background: #43a047;
      }
    }
  }
}

.panel {
  @include wh;
  display: grid;
  grid-template-columns:
    [c1] 1fr [c2];
  grid-template-rows:
    [r1] 30px [r2] 1fr [r3];
}

.infoText {
  @include wh;
  @include gridCR(1,2,1,2);
  @include gridItemPosition(left);
  padding-left: 0.5rem;
  color: $TextColor;
  font-size: 1rem;
}

.infoNum {
  @include gridCR(1,2,2,3);
  @include gridItemPosition(center, center);
  color: $TextColor;
  font-size: 2rem;
}
