.usersPanel {
  @include wh('max');
  background: white;
  display: grid;
  overflow-y: scroll;

  .userInfo {
    @include wh('max');
    background: #fdfdfd;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30, 125px);

    .userDetail {
      @include wh('max', 100%, 125px);
      background: #fdfdfd;
      display: grid;
      grid-template-columns:
        [c1] 1fr [c2];
      grid-template-rows:
        [r1] 1fr [r2];
      border-bottom: 0.5px solid #c7c7c7;

      .upperDetail {
        @include gridCR(1,2,1,2);
        display: grid;
        grid-template-columns:
          [c1] 80px [c2] 1fr [c3] 130px [c4];
        grid-template-rows:
          [r1] 1fr [r2];

        h2 {
          font-size: 2.5em;
          @include gridCR(1,2,1,2);
          @include gridItemPosition;
        }

        .userName {
          font-size: 1.5em;
          @include gridCR(2,3,1,2);
          @include gridItemPosition;
        }

        .details {
          padding: 0;
          width: 100px;
          height: 35px;
          font-size: 0.5em;
          @include gridCR(3,4,1,2);
          @include gridItemPosition(left);
          @include flex;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
