.todoPanel {
  width: 100%;
  height: 450px;
  background: lightgreen;
  @include flex;
  flex-direction: column;

  .addSection {
    padding: 10px 16px;
    width: 100%;
    height: 20%;
    background: lightyellow;
    @include flex;
  }

  .taskList {
    margin: 0;
    width: 100%;
    height: 80%;
    background: lightblue;
    overflow-y: scroll;
    li {
      margin: 5px 0;
      padding: 10px 16px;
      width: 100%;
      height: 80px;
      list-style: none;
      background: pink;
      @include flex(space-between, center);
    }
  }
}
